@charset "UTF-8";

.header{
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    z-index: 999;
    position: fixed;
    background-color: white;
    padding: 12px 0;
}

/* 
width:100%로 함. 화면 꽉 채우게.
display: header 안의 요소 들의 세로 길이를 맞춰준다.
justify-content: 헤더 안의 각각의 콘텐츠 세로 축은 간격을 동일하게 설정함. (세로 정렬)
margin: 헤더 위아래에 마진을 살짝 넣음
align-items: 콘텐츠의 가로 축은 위에서부터 시작. (가로 정렬)
*/
.logo *{
    height: 40px;
    width: auto;
    display: block;
}

.header .logo{
    margin: 0 0 0 20px;
}

.gnb {
    width: 40%;
    height: 40px;
    overflow: hidden;
}

.gnb:hover{
    height: auto;
    overflow:visible;
}


.tnb {
    width: 12%;
    margin-right: 20px;
}

/* 
 헤더에 로고, tnb, gnb를 넣음
 로고와 tnb의 경우 양 끝에 위치해 있으므로 마진을 살짝식 넣어줌
*/

.row_menu {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    text-align: center;
    line-height: 1.8;
}

.tnb > .row_menu{
    font-size: 15px;
}

/* 
가로로 정렬하는 리스트의 경우 row_menu라는 클래스로 관리. 기본적으로 리스트는 세로로 정렬되기 때문이다.
justify-content: row menu 안의 리스트 세로 간격의 양끝까지 고려하여 동일하게 설정
align-items: row menu 안의 리스트 가로 정렬을 중심으로 설정

*/

.main_menu{
    max-width: 130px;
    width: 90%;
    font-size: 25px;
}

.main_menu a{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    border-bottom: 3px solid transparent;
}

.main_menu a:hover{
    color: green;
    font-weight: bold;
}

.main_menu:hover>a{
    border-bottom-color: green;
    box-sizing: border-box;
}

.gnb .sub_menu{
    margin: 20px 0;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;
}
