
.logo {
    margin: 6.51vw 0 0;
    text-indent: -999px;
    min-width: 24.64vw;
    height: 3.971vw;
    background: url("./img/bg_logo_new.png") no-repeat left top;
    -webkit-background-size: cover;
    background-size: cover;
    order: 1
}

